* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, sans-serif;
    font-size: 16px;
}
 window#waybar {
     background-color: transparent;
     border: 3px solid rgba(255, 255, 255, 0);
     color: #032D36;
     transition-property: background-color;
     transition-duration: .5s;
     background-color: transparent;
     margin-top: 8px;
     margin-left: 0px;
     padding-left: 0px;
     padding-right: 0px;
     margin-bottom: 12px;
     border-radius: 0px;	
     transition: none;
   color: #3B4252;
   background: transparent;
}
#bluetooth {
    background-color: #032D36;
    border: 3px solid rgba(255,255,255,1);
    color: #FFFFFF;
    border-radius: 6px;
    padding:0 6px;
    margin-top: 8px;
}
#workspaces button {
    border: 3px solid rgba(255,255,255,0);
    background-color: transparent;
    color: #ffffff;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 6px;
    margin-bottom: 0;
    border-radius: 0px;
    transition: none;
    color: #FFFFFF;
    background: #032D36;
}
#workspaces button:hover {
    background: #032D36;
}
#tray,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#mode,
#power-profiles-daemon,
#custom-nwbt,
#window,
#workspaces {
    border: 3px solid rgba(255, 255, 255, 1);
    margin: 8px;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 6px;
    margin-bottom: 0px;
    border-radius: 6px;
    transition: none;
    color: #FFFFFF;
    background: #032D36;
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 8px;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}
#clock {
    background-color: #032D36;
    border: 3px solid rgba(255,255,255,1);
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px; 
    padding-left: 16px;
    padding-right: 12px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #FFFFFF;
    background: #032D36;
}
#custom-updates {
    background-color: #ffffff;
    border: 3px solid rgba(255, 255, 255, 1);
    color: #FFFFFF;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 6px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #FFFFFF;
    background: #032D36;
}
#battery {
    background-color: #ffffff;
    border: 3px solid rgba(255, 255, 255, 1);
    color: #FFFFFF;
    margin-top: 8px;
    margin-left: 4px;
    padding-left: 10px;
    padding-right: 16px;
    margin-right: 8px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #FFFFFF;
    background: #032D36;
}
#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #032D36;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #FFFFFF;
    }
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #032D36;
    color: #FFFFFF;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#power-profiles-daemon {
    padding-top: 4px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #4d4d4d;
    background: #032D36;
}
#power-profiles-daemon.performance {
    background-color: #032D36;
    color: #FFFFFF;
    padding-top: 4px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 6px;
}
#power-profiles-daemon.balanced {
    background-color: #032D36;
    color: #FFFFFF;
    padding-top: 4px;
    margin-top: 8px;
    margin-left: 1px;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 6px;
}
#power-profiles-daemon.power-saver {
    background-color: #032D36;
    color: #FFFFFF;
    padding-top: 4px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 6px;
}
label:focus {
    background-color: #000000;
}
#backlight {
    background-color: #032D36;
    margin-top: 8px;
    margin-left: 0px; 
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #FFFFFF;
    background: #032D36;
}
#network.disconnected {
    background-color: #032D36;
    margin-top: 0px;
}
#pulseaudio {
    background-color: #032D36;
    color: #000000;
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 0px;
    padding-right: 2px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #FFFFFF;
    background: #032D36;
}
#pulseaudio.muted {
    background-color: #032D36;
    color: #2a5c45;
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #032D36;
    background: #032D36;
}
#tray {
    background-color: #032D36;
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #4d4d4d;
    background: #032D36;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #032D36;
}
#network {
   margin-top: 8px;
   margin-left: 6px;
   margin-right: 6px;
   padding-left: 6px;
   padding-right: 16px;
   margin-bottom: 0;
   border-radius: 6px;
   transition: none;
   color: #FFFFFF;
   background: #032D36;
}

